.App {
  text-align: center;
}

.App-header {
  padding: 0 1rem 0 1rem;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
  flex-wrap: wrap;
}
